<app-visor [displayValue]="displayValue"></app-visor>
<div *ngIf="flagResult"> Resultado Calculado </div>
<div>
  <app-number-button *ngFor="let number of [1,2,3]" [number]="number" (numberClick)="changeNumber($event)"></app-number-button>
  <!-- <app-number-button [number]="1" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="2" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="3" (numberClick)="changeNumber($event)"></app-number-button> -->
  <app-math-button [symbol]="'+'" (symbolClick)="changeSymbol($event)"></app-math-button>
</div>
<div>
  <!--<app-number-button *ngFor="let number of [4,5,6]" [number]="number" (numberClick)="changeNumber($event)"></app-number-button>-->
  <app-number-button [number]="4" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="5" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="6" (numberClick)="changeNumber($event)"></app-number-button>
  <app-math-button [symbol]="'-'" (symbolClick)="changeSymbol($event)"></app-math-button>
</div>
<div>
  <!--<app-number-button *ngFor="let number of [7,8,9]" [number]="number" (numberClick)="changeNumber($event)"></app-number-button>-->
  <app-number-button [number]="7" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="8" (numberClick)="changeNumber($event)"></app-number-button>
  <app-number-button [number]="9" (numberClick)="changeNumber($event)"></app-number-button>
  <app-math-button [symbol]="'*'" (symbolClick)="changeSymbol($event)"></app-math-button>
</div>
<div>
  <app-number-button [number]="0" (numberClick)="changeNumber($event)"></app-number-button>
  <app-math-button [symbol]="'='" (symbolClick)="changeSymbol($event)"></app-math-button>
  <app-math-button [symbol]="'del'" (symbolClick)="changeSymbol($event)"></app-math-button>
  <app-math-button [symbol]="'/'" (symbolClick)="changeSymbol($event)"></app-math-button>
</div>